@import 'https://cdnjs.cloudflare.com/ajax/libs/framework7/5.7.10/css/framework7.bundle.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css';

.navbar .title{
    line-height: 2em;
}

.google-button{
    width: 20em;
    margin:0 auto;
}

img{
    width:50%;
}

#magic button{
    background-color: blue;
}

#loginSignin{
    width: 20em;
}

#logout{
    width: 7em;
}

#map-here{
    height: 75vh;
    margin-top: .5em;
}

#closeSave{
    margin: 0;
    width: 12em;
}

#theNote{
    width:100%;
    height:100%;
}

#tab2{
    min-height:75vh;
}

.purchased {
    text-decoration: line-through;
}